# Discretization:-

- Discretization is the process of transforming continuous data into discrete bins or intervals. This is commonly used in machine learning to convert continuous features into categorical ones, which can simplify models or make them more interpretable. Below are some common discretization methods with Python code examples.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.DataFrame({'age':[1,2,3,4,5,10,15,20,24,25,32,31,40,41,45,50,51,55,60,61,65,63,70,72,75,76,80,82,83,85,88]})

In [3]:
df

    age
0     1
1     2
2     3
3     4
4     5
5    10
6    15
7    20
8    24
9    25
10   32
11   31
12   40
13   41
14   45
15   50
16   51
17   55
18   60
19   61
20   65
21   63
22   70
23   72
24   75
25   76
26   80
27   82
28   83
29   85
30   88

## Equal-Width Binning:-