# Feature Encoding:-

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder,OneHotEncoder,OrdinalEncoder

In [2]:
dd=pd.DataFrame({'input1':[5,4,6,8,9,10,20,15,17,21],'input2':[100,120,110,115,130,150,200,210,170,180]})

In [3]:
dd

   input1  input2
0       5     100
1       4     120
2       6     110
3       8     115
4       9     130
5      10     150
6      20     200
7      15     210
8      17     170
9      21     180

In [4]:
df=pd.DataFrame({'input':['male','female','manoj','male','female','male','female','male','female','male','female','manoj']})

In [5]:
df

     input
0     male
1   female
2    manoj
3     male
4   female
5     male
6   female
7     male
8   female
9     male
10  female
11   manoj

## Label Encoding:-

In [6]:
le=LabelEncoder()
df['input_le']=le.fit_transform(df['input'])
df['input_le']

0     1
1     0
2     2
3     1
4     0
5     1
6     0
7     1
8     0
9     1
10    0
11    2
Name: input_le, dtype: int64

## One Hot Encoding:-

In [7]:
ohe=OneHotEncoder(sparse_output=False)
cnc=ohe.fit_transform(df[['input']])
df['input_ohe']=cnc[:,1]
df['input_ohe']

0     1.0
1     0.0
2     0.0
3     1.0
4     0.0
5     1.0
6     0.0
7     1.0
8     0.0
9     1.0
10    0.0
11    0.0
Name: input_ohe, dtype: float64

## Ordinal Encoding:-

In [8]:
ore=OrdinalEncoder()
df['input_ore']=ore.fit_transform(df[['input']])
df['input_ore']

0     1.0
1     0.0
2     2.0
3     1.0
4     0.0
5     1.0
6     0.0
7     1.0
8     0.0
9     1.0
10    0.0
11    2.0
Name: input_ore, dtype: float64

## Map:-

In [9]:
df['input_map']=df['input'].map({'male':1,'female':0})
df['input_map']

0     1.0
1     0.0
2     NaN
3     1.0
4     0.0
5     1.0
6     0.0
7     1.0
8     0.0
9     1.0
10    0.0
11    NaN
Name: input_map, dtype: float64

## Dummy Encoding:-

In [ ]:
dum_en=pd.get_dummies(df['input'],columns=['input'],drop_first=True,dtype=int)
df['input_dum']

ValueError: Cannot set a DataFrame with multiple columns to the single column input_dum