In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.DataFrame({'input':[100,110,120,130,140,300,150,160,170,180,190,200]})

In [3]:
df

    input
0     100
1     110
2     120
3     130
4     140
5     300
6     150
7     160
8     170
9     180
10    190
11    200

In [ ]:
fig,ax=plt.subplots(figsize=(5,5))
sns.boxplot(df['input'],ax=ax)
plt.title('input column')
plt.show()