# Multicollinearity:-

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv("C:/DataScience/New_Data/New_Data.csv")

In [3]:
df.head()

,Unnamed: 0,crime rate,residential land zone,business acres,Charles River,nitric oxides,number of rooms,age,distances to employment centres,accessibility to highways,property-tax,pupil-teacher ratio,lower income levels,Median Home Value
0,0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,4.98,24.0
1,284,0.00906,90.0,2.97,0,0.400,7.088,20.8,7.3073,1,285,15.3,7.85,32.2
2,285,0.01096,55.0,2.25,0,0.389,6.453,31.9,7.3073,1,300,15.3,8.23,22.0
3,341,0.01301,35.0,1.52,0,0.442,7.241,49.3,7.0379,1,284,15.5,5.49,32.7
4,55,0.01311,90.0,1.22,0,0.403,7.249,21.9,8.6966,5,226,17.9,4.81,35.4

In [4]:
df.shape

(506, 14)

In [5]:
df.columns

Index(['Unnamed: 0', 'crime rate', 'residential land zone', 'business acres',
       'Charles River', 'nitric oxides', 'number of rooms', 'age',
       'distances to employment centres', 'accessibility to highways',
       'property-tax', 'pupil-teacher ratio', 'lower income levels',
       'Median Home Value'],
      dtype='object')

In [6]:
df.drop(columns='Unnamed: 0',inplace=True)

In [7]:
df.columns

Index(['crime rate', 'residential land zone', 'business acres',
       'Charles River', 'nitric oxides', 'number of rooms', 'age',
       'distances to employment centres', 'accessibility to highways',
       'property-tax', 'pupil-teacher ratio', 'lower income levels',
       'Median Home Value'],
      dtype='object')

In [8]:
df.duplicated().sum()

np.int64(0)

In [9]:
df.isnull().sum()

crime rate                         0
residential land zone              0
business acres                     0
Charles River                      0
nitric oxides                      0
number of rooms                    0
age                                0
distances to employment centres    0
accessibility to highways          0
property-tax                       0
pupil-teacher ratio                0
lower income levels                0
Median Home Value                  0
dtype: int64

In [10]:
df[df['residential land zone']==0].count()['residential land zone']

np.int64(372)

In [11]:
df[df['crime rate']==0]['crime rate'].count()

np.int64(0)

In [12]:
df[df['business acres']==0]['business acres'].count()

np.int64(0)

In [13]:
df[df['Charles River']==0]['Charles River'].count()

np.int64(471)

In [14]:
df[df['nitric oxides']==0]['nitric oxides'].count()

np.int64(0)

In [15]:
df[df['number of rooms']==0]['number of rooms'].count()

np.int64(0)

In [16]:
df[df['age']==0]['age'].count()

np.int64(0)